<form id="text-input-form" class="form-rest">
    <p>Input format:</p>
    <select name="inputFormat" id="text-format">
        <option value="statblock" title="A statblock as copied from your PDFs, or sourced from AONSRD.">Paizo-Style Statblock</option>
        <option value="vttes" title="An NPC exported using the VTT Enhancement Suite plugin.">VTT Enhancement Suite (FoundryVTT v0.7 and Starfinder v0.10 only)</option>
        <option value="pcgen" title="An NPC exported using the PCGen software, using the XML format.">PCGen XML (Incomplete, FoundryVTT v0.7 and Starfinder v0.10 only)</option>
    </select>
    <p>Enter text here and press Ok:</p>
    <label class="text">
        <textarea id="text-entry" rows="10" cols="100">{{originalText}}</textarea>
    </label>
</form>
